Абстрации
1)пирамида хеопса-одно из чудес света в египте-архитектурное сооружение в виде пирамиды-геометрическая фигура из камня-
2)карета скорой помощи-транспорт для оказания помощи-телега для спасения людей-повозка для оживления жителей


git -система контроля версии которая позволяет сохранять различные версии продукта(при необходимости возвращаться на предыдущие этапы)
github-сервис для командной работы над одним и тем же продуктом(создание удаленного репозитория для связи с локальныи)
Команды для работы с изменениями файла:
1)FIX-подготовка файла к коммиту( git add)
2)Commit-сохранение всех изменений 
3)Push-загрузка всех изменений в ветку удаленного репозитория после установления связи между лок и удал репозиториями
4)Pull-получение обновлений или исправлений с удаленного репозитория(обратная связь)
Commit-является объектом который имеет свой универсальный хэш-тэг
С помощью branch можно создавать другие ветки для паралелльной разработки продукат а с помощью checkout переключаться между ними
gitignore-позволяет игнорировать ненужные для самого функционала файлы



